.cover {
  position: relative;
  width: 256px;
  height: 256px;
}

.edit {
  padding: 16px;
  gap: 16px;

  position: absolute;

  right: 0px;
  bottom: 0px;
}

.btn-edit {
  position: relative;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;

  width: 106px;
  height: 54px;

  background: #f8f8f8;
  border-radius: 2px;
}

.btn-edit > p {
  width: 42px;
  height: 38px;

  font-family: "Co Headline";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 38px;
  color: #1b6042;
}
