.text-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    overflow-y: scroll;
    width: 19.5rem;
height: 18rem;
}

.text-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.text-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 0px;
    isolation: isolate;
    font-family: 'sans-serif';
}

p{
    margin: 0;
}