.dateBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 4px;

    width: 326px;
    height: 48px;

    background: #F7F7F8;
    border: 2px solid #0F082B;
    border-radius: 4px;
}