.container-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;
  
    position: relative;
    width: calc(100% - 64px);
    width: 20rem;
  
    background: #ffffff;
  }
  
  .container-information > h2 {
      margin: 0;
    font-family: "Co Headline";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
  
    color: #1d2525;
  }
  
  .information-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
  
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  
    background: #32568f;
    box-shadow: 0px 4px 8px -4px rgba(90, 125, 129, 0.05);
    border-radius: 2px;
    
  }
  
  .information-svg {
  width: 1.5rem;
  height: 1.5rem;
  
  }
  
  .information-content {
      word-wrap: break-word;
    }
  
  