.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  min-height: 10rem;
  width: 15rem;

  flex: none;
  flex-grow: 0;
}

.card-section {
  width: 100%;
}

.card-group {
  padding: 16px;
}

.card-information {
  display: flex;
  align-items: flex-end;
}

.card-title {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

p {
  text-align: start;
  margin: 0;
}
