.text-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    overflow-x: scroll;
}

.text-title {

    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.text-scroll {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 0px;
    isolation: isolate;
}

.background-gradient-top {
    width: 312px;
    height: 16px;
    background: linear-gradient(180deg, #ffffff 0%, rgba(0, 0, 0, 0) 100%);
}

.background-gradient-bot {
    width: 312px;
    height: 16px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #ffffff 100%);
}

.text-description {
    width: 312px;
    height: 224px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 24px;
}