.search {
    /* Style pour conteneur 'search' on siat jamais*/
  }
  
  .input-container {
    display: flex;
    align-items: center;
    width: 326px;
    height: 72px;
    background: #F7F7F8;
    border: 2px solid #0F082B;
    border-radius: 4px;
    padding: 12px;
  }
  
  .placeholder {
    flex: 1;
    border: none;
    background: none;
    font-family: 'Co Headline';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0F082B;

    outline: none;
  }

  .placeholder:focus{
    outline: none;
  }
