.input {
    display: flex;
    flex-direction: row;

    align-items: flex-start;

    gap: 4px;
    padding: 12px;

    background: #F7F7F8;
    border: 2px solid #0F082B;
    border-radius: 4px;
}

.placeholder {
    font-family: 'Co Headline';
    font-style: normal;
    font-size: 16px;
    /* identical to box height, or 150% */

    color: #0F082B;
    margin: 0;
}