.primary {
    background-color:#191CB1;
    color: #EEEBFF;
    border: none;
    border-radius: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
}

img {
    height: 8px;
}

.primary:hover {
    background-color:#0023FC;
    color: #D9CCFF;
}

.primary:active {
    background-color:#171673;
    color:#F5F6FF;
}

.primary:disabled {
    background-color:rgba(0, 35, 252, 0.19);
    color:rgba(0, 35, 252, 0.29);
}